movie-catalog-service/movie-catalog-service/gradle
movie-catalog-service/movie-catalog-service/gradlew
movie-catalog-service/movie-catalog-service/gradlew.bat
movie-info-service/movie-info-service/gradle
movie-info-service/gradlew
movie-info-service/gradlew.bat
